<section class="banner">
    <div class="row">
        <div class="small-12 columns">
            <img src="~/img/crown.png"
                 width="150" />

            <h1 class="text-center text-upper">
                Keep calm
            </h1>
            <h5 class="text-center text-upper">
                and
            </h5>
            <h1 class="text-center text-upper">
                Come to the BBQ party
            </h1>
        </div>
    </div>

    <section class="sub-section">
        <div class="row">
            <div class="small-12 columns text-center">
                <h2>
                    We have the BBQ &amp; fixins
                </h2>

                <h2>
                    Now we need you!
                </h2>

                <h3>
                    April 11, 4-6:30 p.m.
                </h3>
            </div>
        </div>
    </section>

    <section class="sub-section">
        <div class="row">
            <a href="https://www.facebook.com/pages/Awesomesauce/144526762263413">
                <div class="small-10 small-centered medium-8 medium-centered large-6 large-centered columns text-center bordered">
                    <h4>
                        Entertainment by
                    </h4>
                    <h2>
                        Awesomesauce
                    </h2>
                    <i class="fa fa-3x fa-facebook-official">
                    </i>
                </div>
            </a>
        </div>
    </section>
</section>

<section class="details">
    <div class="row">
        <div class="small-12 medium-7 medium-centered large-6 large-centered columns">
            <dl class="title-upper">
                <dt>
                    Who
                </dt>
                <dd>
                    The Stewardship Committee invites
                    all Christ Church families.
                </dd>

                <dt>
                    What
                </dt>
                <dd>
                    BBQ picnic dinner with music.
                    Bring the kids, lawn chairs,
                    your dancing shoes, and BYOB. Scott
                    will craft the BBQ with his
                    homemade sauce, the Stewardship
                    Committee will supply the fixins,
                    and popular local band
                    <a href="https://www.facebook.com/pages/Awesomesauce/144526762263413">Awesomesauce</a>
                    will provide entertainment.
                </dd>

                <dt>
                    When
                </dt>
                <dd>
                    April 11, 2015 beginning at 4 p.m.
                    Rain or shine.
                </dd>

                <dt>
                    Where
                </dt>
                <dd>
                    On the lawn at Christ Episcopal Church
                    (Parish Hall in the event of inclement weather).
                </dd>

                <dt>
                    Why
                </dt>
                <dd>
                    To give thanks to God for our awesome
                    parish community. Suggested ticket donation
                    of $1 per person. Proceeds benefit the
                    <a href="http://interfaithfoodpantry.acciai.us/">Interfaith Food Pantry</a>.
                </dd>
            </dl>
        </div>
    </div>
</section>
