<section class="banner">
    <div class="row">
        <div class="small-12 columns">
            <img src="~/img/crown.png"
                 width="150" />

            <h1 class="text-center text-upper">
                Keep calm
            </h1>
            <h5 class="text-center text-upper">
                and
            </h5>
            <h1 class="text-center text-upper">
                Come to the BBQ party
            </h1>
        </div>
    </div>

    <section class="sub-section">
        <div class="row">
            <div class="small-12 columns text-center">
                <h2>
                    We have the BBQ &amp; fixins
                </h2>

                <h3>
                    Tickets are $1
                </h3>

                <h5>
                    BYOB
                </h5>

                <h5>Bring the kids!</h5>
            </div>
        </div>
    </section>

    <section class="sub-section">
        <div class="row">
            <a href="https://www.facebook.com/pages/Awesomesauce/144526762263413">
                <div class="small-10 small-centered medium-8 medium-centered large-6 large-centered columns text-center bordered">
                    <h4>
                        Entertainment by
                    </h4>
                    <h2>
                        Awesomesauce
                    </h2>
                    <i class="fa fa-3x fa-facebook-official">
                    </i>
                </div>
            </a>
        </div>
    </section>
</section>

<section class="details">
    <div class="row">
        <div class="small-12 medium-7 medium-centered large-6 large-centered columns">
            <dl class="title-upper">
                <dt>
                    Who
                </dt>
                <dd>
                    Christ Episcopal Stewardship Committee and you
                </dd>

                <dt>
                    What
                </dt>
                <dd>
                    Celebrating a wonderful year of stewardship
                </dd>

                <dt>
                    When
                </dt>
                <dd>
                    April 11, 2015 beginning at 4 p.m.<br />
                    Rain or shine
                </dd>

                <dt>
                    Where
                </dt>
                <dd>
                    Christ Episcopal Church
                </dd>

                <dt>
                    Why
                </dt>
                <dd>
                    Because we are thankful for you!<br />
                    Proceeds benefit the <a href="http://interfaithfoodpantry.acciai.us/">Interfaith Food Pantry</a>
                </dd>
            </dl>
        </div>
    </div>
</section>
